// Set new color palette.
$primary: #393f49;
$secondary: #f8f9fa;
$third: #b1b1b1;
$fourth: #30353d;

$gray-100: #c2c2c2;
$gray-200: #9b9b9b;
$gray-300: #888888;
$gray-400: #727272;
$gray-500: #5a5a5a;
$gray-600: #424242;
$gray-700: #2c2c2c;
$gray-800: #1d1d1d;
$gray-900: #101010;

$screen-w-sm: 280px;
$screen-w-md: 376px;
$screen-w-lg: 768px;
$screen-w-xlg: 1366px;
$screen-w-xxlg: 1750px;
$screen-w-xxxlg: 2520px;

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

// Custom scrollbar only for computers
@media only screen and (min-width: 768px) {
  &::-webkit-scrollbar,             // The whole scrollbar (background)
		&::-webkit-scrollbar-track,       // The track where the handle can go
    &::-webkit-scrollbar-track-piece, // The Track that was selected
		&::-webkit-scrollbar-thumb,       // The draggable handle
		&::-webkit-scrollbar-corner {
    // The intersection of the horizontal and vertical scrollbar
    background-color: $gray-600;
    border-radius: 10px;
    background-clip: padding-box; // <== make the border work
    &:hover {
      border: 0;
    }
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  &::-webkit-scrollbar-track-piece:active {
    background-color: lighten($gray-600, 5%);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray-400;
    &:active {
      background-color: $gray-200;
    }
  }
}

.home-header {
  background-color: $primary;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  @media (min-width: $screen-w-sm) {
    min-height: 200px !important;
  }
  @media (min-width: $screen-w-md) {
    min-height: 220px !important;
  }
  @media (min-width: $screen-w-lg) {
    min-height: 280px !important;
  }
  @media (min-width: $screen-w-xlg) {
    min-height: 330px !important;
  }
  @media (min-width: $screen-w-xxlg) {
    min-height: 370px !important;
  }
  @media (min-width: $screen-w-xxxlg) {
    min-height: 420px !important;
  }
}

.home-content {
  background-color: $fourth;
  @media (min-width: $screen-w-sm) {
    min-height: 400px;
  }
  @media (min-width: $screen-w-md) {
    min-height: 400px;
  }
  @media (min-width: $screen-w-lg) {
    min-height: 400px;
  }
  @media (min-width: $screen-w-xlg) {
    min-height: 450px;
  }
  @media (min-width: $screen-w-xxlg) {
    min-height: 500px;
  }
  @media (min-width: $screen-w-xxxlg) {
    min-height: 550px;
  }
}

.home-footer {
  background-color: $fourth;
}

.home-logo {
  content: url('assets/brainlogo.png');
  @media (min-width: $screen-w-sm) {
    width: 100%;
  }
  @media (min-width: $screen-w-md) {
    width: 330px;
  }
  @media (min-width: $screen-w-lg) {
    width: 330px;
  }
  @media (min-width: $screen-w-xlg) {
    width: 340px;
  }
  @media (min-width: $screen-w-xxlg) {
    width: 380px;
  }
  @media (min-width: $screen-w-xxxlg) {
    width: 420px;
  }
}

.bottom-triangle {
  border-right: solid 15px transparent;
  border-left: solid 15px transparent;
  border-top: solid 15px $primary;
  transform: translateY(15px);
}

.home-copyright {
  color: $secondary;
  opacity: 80%;
  font-size: 11px;
  font-weight: 600;
}

.home-header-subtitle {
  padding-bottom: 0px;
  text-align: center;
  color: $secondary;
  opacity: 80%;
  font-weight: 500;
  @media (min-width: $screen-w-sm) {
    font-size: 13px;
  }
  @media (min-width: $screen-w-md) {
    font-size: 13px;
  }
  @media (min-width: $screen-w-lg) {
    font-size: 13px;
  }
  @media (min-width: $screen-w-xlg) {
    font-size: 13px;
  }
  @media (min-width: $screen-w-xxlg) {
    font-size: 15px;
  }
  @media (min-width: $screen-w-xxxlg) {
    font-size: 17px;
  }
}

.home-form {
  margin-top: 5rem;
  @media (min-width: $screen-w-sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
  }
  @media (min-width: $screen-w-md) {
    padding-left: 0;
    padding-right: 0;
    width: 330px;
  }
  @media (min-width: $screen-w-lg) {
    width: 330px;
  }
  @media (min-width: $screen-w-xlg) {
    width: 340px;
  }
  @media (min-width: $screen-w-xxlg) {
    width: 380px;
  }
  @media (min-width: $screen-w-xxxlg) {
    width: 420px;
  }
}

.home-input {
  @media (min-width: $screen-w-sm) {
    padding: 12px !important;
  }
  @media (min-width: $screen-w-md) {
    padding: 13px !important;
  }
  @media (min-width: $screen-w-lg) {
    padding: 13px !important;
  }
  @media (min-width: $screen-w-xlg) {
    padding: 13px !important;
  }
  @media (min-width: $screen-w-xxlg) {
    padding: 16px !important;
    font-size: 16px !important;
  }
  @media (min-width: $screen-w-xxxlg) {
    padding: 18px !important;
    font-size: 18px !important;
  }
  border: none !important;
  border-radius: 0 0.25rem 0.25rem 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.input-group-text {
  border: none !important;
}

.home-button {
  @media (min-width: $screen-w-sm) {
    padding: 12px !important;
  }
  @media (min-width: $screen-w-md) {
    padding: 13px !important;
  }
  @media (min-width: $screen-w-lg) {
    padding: 13px !important;
  }
  @media (min-width: $screen-w-xlg) {
    padding: 13px !important;
  }
  @media (min-width: $screen-w-xxlg) {
    padding: 16px !important;
    font-size: 16px !important;
  }
  @media (min-width: $screen-w-xxxlg) {
    padding: 18px !important;
    font-size: 18px !important;
  }
  opacity: 80%;
  color: $secondary !important;
  font-weight: 500 !important;
  border: 1px solid #b1b1b1ab !important;
  background-color: $fourth !important;
}

.home-button:hover {
  background-color: $primary !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

// responsive table
.react-bootstrap-table table {
  table-layout: auto;
}

// hide uneeded sr-only label in device table
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); 
  white-space: nowrap; 
}

// create carets to be used in the table
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

// create carret when clicked
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}


// Must me imported after to overwrite colors.
@import '~bootstrap/scss/bootstrap';
@import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
