// Set new color palette.
$primary: #3f4651;
$secondary: #f8f9fa;
$third: #373e4a;
$fourth: #2f3641;
$fifth: #949494;

html,
body {
  margin: 0;
  height: 100%;
}

// Login page
.login-header-container {
  background-color: $third;
  position: relative;
  height: 40vh;
  width: 100%;
}

.login-header-container:after {
  border-right: solid 15px transparent;
  border-left: solid 15px transparent;
  border-top: solid 15px $third;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
  content: '';
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
}

.login-header-title {
  color: $secondary;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-header-subtitle {
  color: $fifth;
  font-size: 13px;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.login-form-container {
  background-color: $fourth;
  position: relative;
  height: 60vh;
  width: 100%;
}

@media screen and (max-width: 950px) {
  .login-header-container {
    height: 25vh;
  }
  .login-form-container {
    height: 75vh;
  }
}

.login-header-container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.login-form-container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.login-form {
  width: 330px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.login-space-input {
  margin-bottom: 15px !important;
}

.login-input-size {
  padding: 12px !important;
}

.login-button-color {
  font-weight: 500 !important;
  font-size: 15px !important;
  opacity: 80%;
  border: 1px solid $fifth !important;
  background-color: $fourth !important;
}

.login-button-color:hover {
  background-color: $third !important;
}

.increase-roundness {
  border-radius: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

// responsive table
.react-bootstrap-table table {
  table-layout: auto;
}

// Must me imported after to overwrite colors.
@import '~bootstrap/scss/bootstrap';
@import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
