// Set new color palette.
$primary: #393f49;
$secondary: #f8f9fa;
$third: #b1b1b1;
$fourth: #30353d;

html,
body {
  margin: 0;
  height: 100%;
}

// home pages (login,register)
.home-header-container {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 14px;
  height: 40vh;
  width: 100%;
}

.home-header-container:after {
  border-right: solid 15px transparent;
  border-left: solid 15px transparent;
  border-top: solid 15px $primary;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
  content: '';
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
}

.home-logo {
  content: url('assets/brainlogo.png');
  @media (min-width: 280px) {
    width: 90%;
  }
  @media (min-width: 376px) {
    width: 330px;
  }
}

.home-header-subtitle {
  opacity: 80%;
  color: $secondary;
  font-size: 14px;
}

.home-form-container {
  background-color: $fourth;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  padding-top: 80px;
}

@media screen and (max-width: 950px) {
  .home-header-container {
    height: 25vh;
  }
  .home-form-container {
    height: 75vh;
  }
}

.home-header-container {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home-form-container {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home-form {
  @media (min-width: 280px) {
    width: 90%;
  }
  @media (min-width: 376px) {
    width: 330px;
  }
}

.home-input {
  padding: 13px !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.home-button {
  padding: 12px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  border: 1px solid #b1b1b1ab !important;
  background-color: $fourth !important;
}

.home-button:hover {
  background-color: $primary !important;
}
//
.increase-roundness {
  border-radius: 50px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

// responsive table
.react-bootstrap-table table {
  table-layout: auto;
}

// Must me imported after to overwrite colors.
@import '~bootstrap/scss/bootstrap';
@import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
